[href] {
  font-family: Roboto;
}
p {
  font-family: Roboto;
}
button {
  font-family: Roboto;
}
h1 {
  font-family: PT+Serif:wght@700;
  font-weight: bold;
}
div {
  font-family: PT+Serif:wght@700;
  font-weight: bold;
}
.menu__item, .header, .main-section {
  border: dashed 1 px red;
}
