[href] {
  font-family: Roboto;
}
p, button {
  font-family: Roboto;
}
h1, div {
  font-family: 'PT+Serif';
  font-weight: 700;
  font-weight: bold;
}
body {
  margin: 0;
}
.wrapper{
  margin:auto;
  width: 80%;
}
.logo, .menu {
  display: inline-block;
}
.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.logo {
  //padding: 40px 0;
  //font: bold 24px/31px pt_serifbold;
  width: 190px;
  height: 36px;
  background: url('img/logo.svg');
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0;
}
